<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_url "hero_banner.jpeg"%>)">
    <h1><strong>Watch List</strong></h1>
    <p>Create endless movies list for you and your family</p>
</div>

<div class="container">
<h2><strong>My Lists</strong></h2>
<div class="cards">
<%@lists.each do |list|%>
  <div class="card-list"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%=link_to list.name, list_path(list)%>
  </div>
<%end%>
</div>
<div class="text-right">
<p><%=link_to "Add a list", new_list_path, class: "btn btn-flat"%></p>
</div>
</div>
